.franklin {
  font-family: 'Libre Franklin', sans-serif;
}

.zilla{
  font-family: 'Zilla Slab', serif;
}

.border {
  border: 2px solid black;
}

body {
  margin: 0 0 60px 0;
  padding: 0;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
}

.grid {
  display: grid;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.borderBttm{
  border-bottom: 1px solid #e2e2e2;
}

.borderTop{
  border-top: 1px solid #333333;
} 

.centerV {
  align-content: center;
  padding: 5px;
}

.clickable:hover {
  cursor: pointer;
}
/* Header starts here */

.headerLeft2 div, .topic {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 6px;
}

.headerLeft2 {
  align-self: stretch;
  flex: 2 1 auto;
  font-weight: bold;
}

.headerLeft1 {
  margin: 0 0 0 2%;
}

.headerLeft1 div {
  align-self: center;
  flex: 1 1 auto;
  margin: 3px;
}

.headerCenter{
  align-self: stretch;
  flex: 2 1 auto;
}

.menu {
  width: 13px;
  height: 2.2px;
  background-color: rgb(88, 85, 85);
  margin: 2px 0 !important;
}

.mGlass > img {
  height :15px;
   width :auto;
}

.topic {
  font-size: 13px;
}

.topic:hover {
  text-decoration: underline;
}

#nytlogo {
  height: 25px;
  width : auto; 
  margin-top: auto;
  margin-bottom: auto;
}

.buttonGroup {
  float: right;
  width:auto;
  margin: 0 60px 0 0;
  padding: 4px 0;
}

.subscribe, .login {
  background-color: #567B95;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 13px;
  border-style: none;
  border-radius: 4px;
  margin: 0 5px 0 0;
  padding: 0 6px;
}

/* Here finishes Jheader code*/

 .footr {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.footr-announcement {
  height: 100%;
  width: 65%;
  float: left;
}

.footr-announcement > p {
  float: right;
  font-size: 14px;
}

.footerRight {
  width: 35%;
  margin: 0 10% 0 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footerRight > p {
  font-size: 12px;
  margin:0 40px 0 0;
  font-weight: 800;
}

#chevron {
  height: 25px;
  width: auto;
  align-self: center;
  flex: 0 1 auto;
}

/* Main portion */
main {
  margin: 80px 0 0 0;
}

.main-container {
  grid-template: repeat(6, auto) / 15% 70% 15%;
  grid-template-areas: 
    ". m ."
    ". a1 .";
}

.main-intro {
  grid-area: m;
  text-align: left;
}

.intro-title {
  font-size: x-large;
  font-style: italic;
  color:#121212;
  margin: 0 25% 0 25%;
}

.intro-title > h1{
  font-style: italic;
  display: inline-block;
}

.intro-img {
  width: 100%;
  text-align: left;
}

.intro-img > img {
  width:100%;
}

.intro-caption {
  font-size: smaller;
  font-family: 'Tinos', serif;
  color: #3a444c;
  padding-right: 20px;
  width: 70%;
}

.intro-caption > span {
  font-size: small;
  color: #888888;
}

.main-article1 {
  grid-area: a1;
  grid-template: repeat(3, auto) / 25% 50% 25%;
  grid-template-areas: 
    ". p1 ."
    ". d as"
    ". p2 .";
}

.article1-portion1 {
  grid-area: p1;
}

.portion1-links > p {
  display: inline-block;
}

.links-elements {
  float: right;
}

.links-elements, .links-elements li {
  display: inline-block;
}

.elements {
  margin: 0 10px 0 0;
}

.elements:not(:nth-child(n + 5)) {
  border-radius: 50%;
  background-color: rgb(228, 213, 213);
  padding: 4px;
  text-align: center;
}

.elements > img{
  float: left;
  height: 15px;
  width: auto;
}

.portion1-article > p {
  font-size: 1.25rem;
  font-family: 'Tinos', serif;
}