html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height:100%;
}

.menu {
    width: 15px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.border {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.centerV {
    align-content: center;
    padding: 5px;
}

.justifyCenter {
    justify-content: center;

}

.franklin {
    font-family: 'Libre Franklin', sans-serif;
}

.zilla{
    font-family: 'Zilla Slab', serif;
}

.container{
    border-bottom: 1px solid #e2e2e2;
}

.left1{
    flex: 0 1 auto;
}

.left1 div {
    align-self: center;
    flex: 1 1 auto;
    margin: 3px;
}

.left2{
    align-self: stretch;
    flex: 2 1 auto;
    font-weight: bold;
}

.left2 div {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 6px;
}

#nytlogo {
    margin-top: auto;
    margin-bottom: auto;
}

.center{
    align-self: stretch;
    flex: 2 1 auto;
}

.right{
 flex: 1 1 auto;
}

.right div {
    align-self: center;
    flex: 1 1 auto;
    margin: 3px;
}

.subscribe{
    align-self: center;
    text-decoration: underline black;
    color: black;
    font-size: small;
    font-weight: bold;
    flex: 2 1 auto;
    text-align: center;
}

.login {
    margin-right: 2px;
    flex: 1 1 auto;
}

#login {

}

.login div{
    align-self: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #333333;
    justify-self: center;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.article {
    width:100;
}

.title {

}

.photo1 {
}

.img1{
    width: 80%;
    align-self: center;
}

.imgJustify{
    justify-content: center;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}

.caption1 {
    width: 80%;
    align-self: center;
    text-align: justify;
    margin-right: 20px;
}
