body {
  margin: 0;
  padding: 0;
}

.border {
  border: 2px solid black;
}

.flex {
  display: flex;
}

.box {
  width: 200px;
  height: 100%;
}

header {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: #FFFFFF;
}

.nav-container {
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-toggle {
  flex-direction: row;
}

.toggles-div {
  width: 50%;
  flex-direction: column;
  padding: 10px 0 0 40px;
}

.toggles {
  width: 14px;
  height: 2px;
  background-color: black;
  margin: 0 0 2.5px 0;
}

.footr {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
}

.footr-announcement {
  flex: 0 1 auto;
  justify-self: center;
}

.footr-toggle {
  flex: 0 1 auto;
  margin-left: 40px;
  margin-right: 30px;
  justify-self: center;
}